language: node_js
node_js:
  - "0.11"
  - "0.10"
  - "0.8"
services:
  - redis-server
script:
  - npm run cover
after_success: 
  - cat ./coverage/lcov.info |./node_modules/coveralls/bin/coveralls.js
